<!DOCTYPE html>
<html>
<head>
  {{>links}}
  <title>Home Page</title>
</head>
<body>
  {{>notifs}}
  <center><h1>Get started with Nodejs.</h1></center>
  <h5>{{sampleHelper message}}</h5>
  {{>scripts}}
</body>
</html>